.eg-suggestion-list {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: var(--eg-white);
  border: 1px solid var(--eg-border);
  border-radius: 0 0 6px 6px;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 210px;
  overflow-y: auto;
  box-shadow: var(--eg-shadow);
}

.eg-suggestion-list li {
  padding: 10px 14px;
  cursor: pointer;
}
.eg-suggestion-list li:hover {
  background: var(--eg-grey);
}